body
    div
        h3(style="color:black;font-weight:bold;text-align:center") Welcome to NeoSOFT Technologies!!!
    img(src="cid:neosoft_logo", alt="Logo", style="display:block; margin-left:auto; margin-right:auto;")
    div
        h3(style="text-align:center;font-weight:bold") Thank You for using email service of our NestJS BoilerPlate.
    img(src="cid:nest_logo", alt="nestjs" style="display:block; margin-left:auto; margin-right:auto; height:150px; width:150px")
    div 
        a(href="https://github.com/NeoSOFT-Technologies/rest-node-nestjs")
            h3(style="text-align:center; font-weight:bold") OFFICIAL GITHUB PAGE